--extra-index-url https://download.pytorch.org/whl/cpu

# baisc
torch==2.9.1+cpu
torchvision==0.24.1+d801a34
torchaudio==2.9.1+cpu
numpy==2.4.0
opencv-python==4.12.0.88
openvino-dev==2024.6.0
openvino-genai==2025.4.1.0

# paddle speech
paddlepaddle==3.2.2
paddlespeech==1.5.0
typeguard==4.4.4
nltk==3.9.2

# funasr
funasr==1.2.9
modelscope==1.33.0
funasr-onnx==0.4.1
onnxruntime==1.23.2

# museTalk
transformers==4.57.3
soundfile==0.13.1
diffusers==0.36.0
accelerate==1.12.0
huggingface_hub==1.2.3

# mmcv
openmim==0.3.9

# misc
ffmpeg-python==0.2.0
scipy==1.16.3
moviepy==2.2.1
playsound==1.3.0
pyaudio==0.2.14
keyboard==0.13.5
PyGObject==3.54.5; sys_platform == 'linux'
tomli==2.3.0

# 3D render client
python-socketio==5.16.0
eventlet==0.40.4
